//TIPOGRAFIA
$fuentePrincipal: "Inter", sans-serif;
//COLORES
$negro: #181818;
$blanco: #ffffff;
$gris: #f8fafc;
$grisO: #cac9c9;
$rojo: #ff0000;
$rosa: #ed3456;

//DIMENSIONES
$telefono: 600px;
$tablet: 900px;
$desktop: 1200px;
$desktopXL: 1500px;
