@use "../base/variables" as v;
@use "base/mixins" as m;

#tabla {
  padding-top: 1rem;

  th,
  td {
    border: 0.8px solid v.$grisO !important;
  }
  .precio {
    width: 12% !important;
  }
  .mid {
    width: 8% !important;
  }
  .min {
    width: 7% !important;
  }
  .edit {
    padding: 5% 25% !important;
  }
}

.botones {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
