@use "../base/variables" as v;
@use "base/mixins" as m;

.radio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;

  input {
    width: auto !important;
    margin-left: 1%;
    margin-right: 5%;
  }
}

#pro,
#cantidad_pro,
.existente input,
.existente select {
  border: 1.5px solid #cac9c9;
  border-radius: 5px;
  margin-left: 3rem;
  padding: 8px;
  width: 50%;
}

.nuevo,
.existente {
  display: none;
}
