@use "../base/variables" as v;
@use "base/mixins" as m;

#productos {
  padding-top: 1rem;

  th,
  td {
    border: 0.8px solid v.$grisO !important;
  }
  .precio {
    width: 11% !important;
  }
  .mid {
    width: 9% !important;
  }
  .min {
    width: 4% !important;
  }
  .edit {
    cursor: pointer;
  }
}

.botones {
  margin-top: 2%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;

  #new_com {
    background-color: v.$verde;
  }

  #new_com:hover {
    background-color: darken(v.$verde, 10);
  }
}
