@use "../base/variables" as v;
@use "base/mixins" as m;

#tabla {
  padding-top: 1rem;

  th,
  td {
    border: 0.8px solid v.$grisO !important;
  }
  .precio {
    width: 12% !important;
  }
  .mid {
    width: 10% !important;
  }
  .min {
    width: 7% !important;
  }
  .edit {
    padding: 5% 25% !important;
  }
  .delete_pro,
  .delete_pre {
    background-color: v.$rosa !important;
  }
}

.refresh {
  padding: 0.5% !important;
  margin-left: 5%;
}

.botones {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
